
@font-face {
  font-family: "remixicon";
  src: url("../public/assets/iconfonts/RemixIcons/fonts/remixicon.eot");
  /* IE9*/
  src: url("../public/assets/iconfonts/RemixIcons/fonts/remixicon.eot") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../public/assets/iconfonts/RemixIcons/fonts/remixicon.woff2") format("woff2"),
    url("../public/assets/iconfonts/RemixIcons/fonts/remixicon.woff") format("woff"),
    url("../public/assets/iconfonts/RemixIcons/fonts/remixicon.ttf") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url("../public/assets/iconfonts/RemixIcons/fonts/remixicon.svg") format("svg");
  /* iOS 4.1- */
  font-display: swap;
}

@font-face {
  font-family: "tabler-icons";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/iconfonts/tabler-icons/webfont/fonts/tabler-icons.eot");
  src: url("../public/assets/iconfonts/tabler-icons/webfont/fonts/tabler-icons.eot") format("embedded-opentype"),
    url("../public/assets/iconfonts/tabler-icons/webfont/fonts/tabler-icons.woff2") format("woff2"),
    url("../public/assets/iconfonts/tabler-icons/webfont/fonts/tabler-icons.woff?") format("woff"),
    url("../public/assets/iconfonts/tabler-icons/webfont/fonts/tabler-icons.ttf") format("truetype");
}

@import "../public/assets/iconfonts/RemixIcons/fonts/remixicon.css";
@import "../public/assets/iconfonts/tabler-icons/webfont/tabler-icons.css";


@import "../public/assets/css/style.css";

@import "@simonwep/pickr/dist/themes/classic.min.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";



